//colors
$red: #E1332D;
$white: #fff;
$primary: #0e5cad;
$secondary: #79f1a4;

//base styles

// First Transition interactions
* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

////////////////////////////////////
// Button Style 
///////////////////////////////////

//default button
.btn {
    background: none;
    color: $primary;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    max-width: 230px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    @media(min-width: 600px) {

        margin: 0 1em 2em;
    }

    &:hover {
        text-decoration: none;
    }

}

/////////////////////////////////////////
// button-Glass and animated stroke 
///////////////////////////////////////
.btn-4 {
    border: none;
    overflow: hidden;
    position: relative;

    span {
        z-index: 20;
    }

    &:after {
        background: $white;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }

    svg {
        height: 45px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    rect {
        fill: none;
        stroke: $primary;
        stroke-width: 3.5;
        stroke-dasharray: 422, 0;
        transition: all 0.35s linear;
    }
}

.btn-4:hover {

    letter-spacing: 1px;

    &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    rect {
        stroke-width: 5;
        stroke-dasharray: 25, 420;
        stroke-dashoffset: 48;
        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
}


/////////////////////////////////////////
// button-inscribed
///////////////////////////////////////

.btn-3 {
    background: lighten($secondary, 3%);  
    border: 1px solid darken(#c5fad8, 4%);
    box-shadow: 0px 2px 0 darken(#c5fad8, 2%), 2px 4px 6px darken(#c5fad8, 1%);
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
  }
  
  .btn-3:hover {
    background: darken($primary, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .1);
    color: lighten($primary, 18%); 
    text-decoration: none;
    text-shadow: -1px -1px 0 darken($primary, 9.5%);
    transition: all 250ms linear;
  }