body {
  background: linear-gradient(135deg, #79f1a4 0%, #0e5cad 100%);
  background-repeat: no-repeat;
  height: 100%;
  font-family: Helvetica, sans-serif;
}

.header {
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.enableEthereumButton {
  float: right;
}


h3,
form {
  text-align: center;
  color: #ffffff;
}

form {
  border-radius: 12px;
  padding: 3em 0;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 2rem 6rem 0.5rem rgba(52, 73, 87, 0.7);
  background-color: rgb(231, 255, 243);
  color: #000;
}


#dTime {
  width: 19em;
  margin-bottom: 30px;
}

/*************************/
/* Choose File */
/*************************/

.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 50px;
}

.file-upload .file-select {
  display: block;
  border: 2px solid #dce4ec;
  border-radius: 0 4px 4px 0;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  width: 37%;
  line-height: 40px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select .file-select-button {
  background: #dce4ec;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.file-upload .file-select:hover {
  border-color: #0e5cad;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
  background: #0e5cad;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #66c087;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}







/*************************/
/* Form Styling */
/*************************/
.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  background:none;
  margin: 0 auto;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #929292;
}

input:focus {
  outline: none !important;
  border: none !important;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 31%;
  top: 34%;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #0e5cad;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 400px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #0e5cad;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 70%;
}

.bar:after {
  right: -30%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
  width: 70%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 33%;
  pointer-events: none;
  opacity: 0.1;
}

/* active state */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #0e5cad;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}